@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../fonts/Manrope-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/Manrope-Light.woff2") format("woff2");
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Manrope-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Manrope-Medium.woff2") format("woff2");
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Manrope-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Manrope-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../fonts/SourceCodePro-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/SourceCodePro-Light.woff2") format("woff2");
}

@font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/SourceCodePro-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/SourceCodePro-Medium.woff2") format("woff2");
}

@font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/SourceCodePro-Semibold.woff2") format("woff2");
}

@font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/SourceCodePro-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/SourceCodePro-Black.woff2") format("woff2");
}
