.text-app-red {
  color: $app-red;
}

.text-app-neutral-50 {
  color: $app-neutral-50;
}

.text-app-neutral-100 {
  color: $app-neutral-100;
}

.text-app-neutral-200 {
  color: $app-neutral-200;
}

.text-app-neutral-300 {
  color: $app-neutral-300;
}

.text-app-neutral-400 {
  color: $app-neutral-400;
}

.text-app-neutral-500 {
  color: $app-neutral-500;
}

.text-app-neutral-600 {
  color: $app-neutral-600;
}

.text-app-neutral-700 {
  color: $app-neutral-700;
}

.text-app-neutral-800 {
  color: $app-neutral-800;
}

.text-app-neutral-900 {
  color: $app-neutral-900;
}

.text-app-primary {
  color: $app-primary;
}

.border-app-neutral-400 { border-color: $app-neutral-400 !important; }

.bg-app-neutral-50  { background-color: $app-neutral-50; }
.bg-app-neutral-100 { background-color: $app-neutral-100; }
.bg-app-neutral-200 { background-color: $app-neutral-200; }
.bg-app-neutral-300 { background-color: $app-neutral-300; }
.bg-app-neutral-800 { background-color: $app-neutral-800; }
.bg-app-neutral-900 { background-color: $app-neutral-900; }
.bg-app-primary     { background-color: $app-primary; }

.text-app-primary-300 {
  color: $app-primary-300;
}

.text-app-primary-400 {
  color: $app-primary-400;
}

.lh-\[140\%\] {
  line-height: 1.4;
}

.ff-source {
  font-family: 'SourceCodePro', monospace;
}

.ff-manrope {
  font-family: 'Manrope', sans-serif;
}

.fs-7 {
  font-size: 0.875rem;
}

.mb-\[40px\] {
  margin-bottom: 40px;
}

.mb-\[64px\] {
  margin-bottom: 64px;
}

.fs-\[12px\] {
  font-size: 0.75rem;
}

.fs-\[18px\] {
  font-size: 1.125rem;
}

.fs-\[48px\] {
  font-size: 3rem;
}
