<div class="ui icon info message">
    <i class="info icon"></i>
    <div class="content">
        <div class="header">Test credentials</div>
        <p>
            Username: sylius@example.com<br>
            Password: sylius
        </p>
    </div>
</div>
